<!DOCTYPE html>
<html>
<head>
  <title>{{ .page.Title }}</title>
</head>
<body>
  <h1>{{ .categories.Title }}</h1>
  <p>{{ .ShortText }}</p>
  {{ range $index, $category := .Categories }}
    {{ if eq $index 0 }}
      <div>
        {{ range $image := $.Images }}
          {{ if eq $image.CategoryID $category.ID }}
            <a href=""><img src="{{ $image.URL }}" alt=""></a>
          {{ end }}
        {{ end }}
        <h2><a href="">{{ $category.Title }}</a></h2>
      </div>
    {{ end }}
  {{ end }}
</body>
</html>
